In [1]:
import pandas as pd

In [2]:
import regex as re

In [3]:
import os

In [9]:
df01, df02, df03, df04 = pd.read_pickle("BATCH_01_VERB_NOUN_PAT_THINK_TANKS.pkl"), pd.read_pickle("BATCH_02_VERB_NOUN_PAT_THINK_TANKS.pkl"), pd.read_pickle("BATCH_03_VERB_NOUN_PAT_THINK_TANKS.pkl"), pd.read_pickle("BATCH_04_VERB_NOUN_PAT_THINK_TANKS.pkl")

In [10]:
df01

                PAT_V_NAME  FREQ
0                 be a lot  2797
1               take place  1440
2               have a lot  1355
3          develop country   835
4                 do a lot   744
...                    ...   ...
8004        concert effort     7
8005    be no disagreement     7
8006   participate country     7
8007     see in other area     7
8008  get an understanding     7

[8009 rows x 2 columns]

In [11]:
df02

               PAT_V_NAME  FREQ
0                be a lot  2842
1              take place  1562
2              have a lot  1337
3         develop country   848
4       talk a little bit   692
...                   ...   ...
7855  support human right     7
7856         make history     7
7857      serve as deputy     7
7858       have infection     7
7859     be an initiative     7

[7860 rows x 2 columns]

In [12]:
df03

                  PAT_V_NAME  FREQ
0                   be a lot  2842
1                 take place  1541
2                 have a lot  1336
3            develop country   839
4                   do a lot   732
...                      ...   ...
8002          increase trust     7
8003       give some thought     7
8004        share my thought     7
8005      become a president     7
8006  go to be the challenge     7

[8007 rows x 2 columns]

In [13]:
df04

             PAT_V_NAME  FREQ
0              be a lot  2550
1            take place  1336
2            have a lot  1181
3       develop country   731
4     talk a little bit   650
...                 ...   ...
6841       grow problem     7
6842         earn money     7
6843          set price     7
6844        make inroad     7
6845       be no future     7

[6846 rows x 2 columns]

In [14]:
print(len(df01), len(df02), len(df03), len(df04))

8009 7860 8007 6846

In [27]:
df = pd.concat([df01, df02, df03, df04])

In [28]:
df = df.reset_index(drop=True)

In [30]:
df = df.groupby(['PAT_V_NAME'], as_index=False).agg({'FREQ': sum})

In [33]:
df = df.sort_values(['FREQ'], ascending=False).reset_index(drop=True)

In [37]:
df_top_1000 = df[df['FREQ']>=100]

In [41]:
df_top_2000 = df[df['FREQ']>=65]

In [47]:
df_top_4000 = df[df['FREQ']>=40]

In [48]:
#df_top_1000.to_pickle('TOP_1000_VERB_NOUN_PATTERNS_THINK_TANKS.pkl', protocol=4)

In [49]:
#df_top_2000.to_pickle('TOP_2000_VERB_NOUN_PATTERNS_THINK_TANKS.pkl', protocol=4)

In [50]:
#df_top_4000.to_pickle('TOP_4000_VERB_NOUN_PATTERNS_THINK_TANKS.pkl', protocol=4)

In [52]:
#del df01, df02, df03, df04

In [56]:
df_top_4000.sample(5)

            PAT_V_NAME  FREQ
1959    write a report    65
3388  ask the audience    43
411      know the fact   200
769   build confidence   130
933    spend the money   114